/*
        Styles for the header element.
*/
.header {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url('../img/hero-small.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    /*
            Apply following styles if the css property is supported by browser. If not, apply the previously defined styles.
    */
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }
    /*
            Media query for responsive header image. Loading only the large hero image when the device has a high DPI and on a larger screen size. Also has an option for -webkit- based browsers.
    */
    @media (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 125em) {
        background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url('../img/hero.jpg');
    }
    /*
            Styles to be applied on the header element once the phone breakpoint has been reached.
    */
    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
    /*
            Styles for the header__logo-box element.
    */
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    /*
            Styles for the header__logo element.
    */
    &__logo {
        height: 3.5rem;
    }
    /*
            Styles for the header__text-box element.
    */
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}